body{
    background-color: coral;
}

.header{
    background-color: aliceblue;
    &__h1{
        background-color: blueviolet;
    }

    &__nav{
        background-color: greenyellow;

        &Link{
            display: block;
        }
    }
}